.stachka .slide::before {
    display: none;
    background: none;
}

.stachka .slide .slide-header::after {
    border-bottom: none;
    height: 4px;
    background: linear-gradient(90deg, #4f2c85, #ec0d8f);
}

.stachka .slide .cover-title {
    background: linear-gradient(90deg, #8c55e1, #ec0d8f);
    padding: 30px 50px;
    bottom: 60px;
}

.stachka .slide .cover-title h2 {
    margin: 0;
    line-height: 1;
    font-size: 60px;
}

.stachka .slide .cover-title::after {
    background: none;
}

.stachka .progress {
    background: linear-gradient(90deg, #4f2c85, #ec0d8f);
    height: 8px;
    border: none;
    clip: unset;
    padding: 0;
    left: 0;
}

.stachka .img-boxed {
    box-shadow: 0 0 0 1px #aaa;
}

.stachka .img-centered {
    display: block;
    margin: 0 auto;
}

/*.stachka .slide ul,*/
.stachka .slide p {
    font-size: 28px;
    line-height: 1.5;
    margin: 1em 0;
}

.stachka .slide pre code {
    /*font-size: 18px;*/
    font-size: 20px;
    line-height: 1.8;
}

.stachka .slide pre.pre-centered-big code {
    font-size: 26px;
}

.pre-centered-big {
    display: inline-block;
    margin-top: 25px;
}

.stachka .slide .text-big {
    font-size: 30px;
}

/*.stachka .slide li {*/
/*line-height: 1.5;*/
/*margin: 10px 0;*/
/*}*/

.stachka .shout.shout-small {
    font-size: 60px;
}

.shower {
    font-size: 20px;
}

.slide .shout {
    font-size: 80px;
}

.slide-description small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
}

.slide .slide-header {
    margin-bottom: 30px;
}

.slide-description {
    min-height: 70px;
    position: relative;
    padding-right: 35px;
}

.slide-description.big {
    min-height: 175px;
}

.intro {
    text-align: center;
}

.playground {
    padding: 10px 0;
    min-height: 54px;
    margin-bottom: 25px;
}

.playground.playground-two-streams {
    min-height: 98px;
}

.playground.playground-three-streams {
    min-height: 144px;
}

.playground-clock .entry {
    animation: clock ease-in-out .15s;
    animation-iteration-count: 21;
    transform-origin: center center;
}

@keyframes clock {
    0% {
        padding-left: 0;
        transform: rotate(-5deg);
    }

    50% {
        padding-left: 2px;
        transform: rotate(5deg);
    }
}

.text-hot {
    color: #C0504D;
}

.text-cold {
    color: #4F81BD;
}

.text-muted {
    color: #777;
}

.text-center {
    text-align: center;
}

.relative-container {
    position: relative;
}

.relative-image {
    position: absolute;
    box-shadow: 0 0 0 2px #434343;
}

.code-special {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    padding: 10px;
    padding-left: 35px;
    padding-bottom: 0;
    border: 1px solid #787878;
    opacity: .7;
}

.btn {
    font-size: 20px;
    padding: .3em .7em;
    background: #ffcf0f;
    color: #000000;
    border: none;
    cursor: pointer;
    transition: background .2s, box-shadow .2s;
}

.btn:hover {
    background: #f5c400;
}

.btn:active {
    background: #dbaf00;
    box-shadow: inset 0 0 .1em rgba(0, 0, 0, 0.5);
}

.btn:focus {
    outline: none;
}

.btn[disabled] {
    background: #c29b00;
    opacity: .7;
    cursor: default;
}

.btn.hidden {
    display: none;
}

.btn-play {
    position: absolute;
    right: 0;
    top: 0;
}

.timeline {
    color: red;
    margin: 15px 0;
    height: 4px;
    background-color: currentColor;
    position: relative;
    z-index: 0;
    transition: width linear 6s;
    width: 0;
}

.hidden {
    display: none !important;
}

.button {
    margin: 20px 0;
    display: inline-block;
    padding: 8px 16px;
    min-width: 120px;
    color: #009D91;
    border: 4px solid;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
}

.button:active {
    color: #FB000D;
}

.button:focus {
    outline: none;
}

.button .button-text,
.button:active .button-text-active {
    display: inline;
}

.button .button-text-active,
.button:active .button-text {
    display: none;
}

.timeline + .timeline {
    margin-top: 40px;
}

.entry {
    background-color: #ffffff;
    position: absolute;
    top: -14px;
    margin-left: -15px;
    left: 0;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    line-height: 30px;
    /*font-size: 13px;*/
    font-size: 16px;
    font-family: PT Mono, monospace, monospace;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px currentColor;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
}

.entry.shift {
    top: -6px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.6);
}

.entry-complete {
    width: 0;
    height: 40px;
    box-shadow: 0 0 0 2px currentColor;
    position: absolute;
    top: -19px;
    z-index: 0;
}

.entry-complete.close-to-entry {

}

.entry-start {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left: 8px solid red;
    border-right: 0;
    position: absolute;
}

.slide-search {
    display: flex;
}

.search-code {
    padding-right: 10px;
    flex: 1 0 auto;
    font-size: 22px;
}

.search-playground {
    width: 200px;
    flex: 0 0 200px;
    border: 2px solid #4f2c85;
}

.search-input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #4f2c85;
    font-size: inherit;
    line-height: 1;
    padding: 10px;
    height: 52px;
}

.search-input:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px #ec0d8f;
}

.search-output {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    /*min-height: 54px;*/
    /*max-height: 400px;*/
    height: 380px;
}

.search-output.search-loading {
    background: url('../pictures/rxjs-logo.png') center center no-repeat;
    background-size: 140px auto;
    animation: 3s blink linear infinite;
}

@keyframes blink {
    0% {
        opacity: .2;
    }

    50% {
        opacity: .7;
    }

    100% {
        opacity: .2;
    }
}

.search-output div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.emoji {
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
}

.nowrap {
    white-space: nowrap;
}

.excel {
    font-size: 32px;
}

.excel code {
    background: none;
}

.excel + .excel {
    border-top: 2px solid #434343;
    padding-top: 1.2em;
}

.push-pull-example.next {
    opacity: 0;
    transform: translateY(100px);
    transition: all .15s;
}

.push-pull-example.next.active {
    transform: translateY(0);
    opacity: 1;
}

.notify-clearfix {
    overflow: hidden;
}

.notify-wrap {
    position: absolute;
    padding: 0 0 20px 10px;
    left: 0;
    bottom: 0;
}

.notify-baloon {
    width: 320px;
    color: #fff;
    background: rgba(54, 56, 59, .96);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    line-height: 1.154;
    font-weight: 400;
    font-size: 12.5px;
}

.notify-head {
    display: block;
    padding: 10px 12px 0;
}

.notify-wrap a {
    color: #bfe2fe;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.notify-close {
    float: right;
    display: block;
    padding: 10px;
    margin: -10px -12px -11px 12px;
    opacity: .65;
    outline: none;
}

.notify-title {
    font-size: 12.5px;
    color: inherit;
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.notify-body {
    padding: 12px;
}

.notify-image-wrap {
    float: left;
    overflow: hidden;
    width: 50px;
    height: 50px;
    max-height: 50px;
    margin-right: 12px
}

.notify-image {
    width: 50px;
    height: 50px;
    border: 0;
    color: transparent
}

.notify-baloon-msg {
    overflow: hidden;
    line-height: 16px;
}

.modal-container {
    width: 480px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .35);
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    line-height: 1.154;
    font-weight: 400;
    font-size: 12.5px;
    background: #f7f7f7;
    border-radius: 4px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 20;
}

.modal-title-wrap {
    position: relative;
    padding: 0;
    background-color: #5b88bd;
    color: #fff;
    overflow: hidden;
}

.modal-close {
    float: right;
    padding: 17px 25px 21px 12px;
    width: 12px;
    height: 12px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    cursor: pointer;
    outline: none
}

.modal-title {
    padding-left: 25px;
    font-size: 14px;
    color: #fff;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.modal-body {
    padding: 16px 25px;
}

.modal-user-info {
    overflow: hidden;
}

.modal-image-wrap {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}

.modal-image {
    width: 50px;
    height: 50px;
}

.modal-user-text {
    padding-left: 13px;
    overflow: hidden;
}

.slide .modal-link {
    color: #42648b;
    text-decoration: underline;
    background: none;
    display: inline-block;
    line-height: 1.27em;
    padding: 6px 0 5px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.modal-user-status {
    display: block;
    color: #939393;
    margin: 0;
    padding: 0;
}

.modal-msg {
    background: #fff;
    color: #000;
    border: 1px solid #c0cad5;
    height: 80px;
    vertical-align: top;
    margin: 15px 0;
    overflow: hidden;
    outline: 0;
    cursor: text
}

.modal-controls {
    overflow: hidden;
}

.modal-btn {
    float: right;
    padding: 7px 16px 8px;
    margin: 0;
    font-size: 13px;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box
}

.stachka.shower.full .slide .next.highlight {
    visibility: visible;
}

.stachka.shower.full .slide .next:not(.active) .next.highlight {
    visibility: hidden;
}

.stachka.shower.full .slide .next.highlight:not(.active) {
    background: none;
}

.stachka.shower.full .slide .next.invisible-next {
    display: none;
}

.stachka.shower.full .slide .next.invisible-next.active {
    display: block;
}

.invisible-next.active + .after-invisible-next {
    display: none;
}
